html
  head
    title My Site - #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block scripts
    link(href='/stylesheets/style.css' rel='stylesheet')
    block styles
  body
    block nav
      div(class='nav')
        div(class='nav-avi')
          img(src='/img/avatar-totoro.jpg')
        div(class='nav-content')
          h3 DJ Hartman
          p Filipino-American in Boston. Developer and designer. Northeastern Class of 2015.
          ul
            a(href='/about')
              li About Me
            a(href='/blog')
              li Blog
            // a(href='/portfolio')
              // li Portfolio
      block content

