html
  head
    title My Site - #{title}
    block scripts
    link(href='/stylesheets/style.css' rel='stylesheet')
    block styles
  body
    block nav
      div(class='nav')
        div(class='nav-avi')
          img(src='/img/avatar-totoro.jpg')
        div(class='nav-content')
          h3 DJ Hartman
          p Filipino-American in Boston. Developer and designer. Northeastern Class of 2015.
          ul
            li
              a(href='/') About Me
            li
              a(href='/') Blog
            li
              a(href='/') Portfolio
      block content

