@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-sizing";

* {
  @include box-sizing(border-box);
}
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
}

