@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-sizing";

* {
  @include box-sizing(border-box);
}

html, body {
  position: relative;
  height: auto;
  width: 100%;
}

// Breakpoints
$medium: 1024px;
$small: 700px; 

// Colors
$green-light: rgb(218, 226, 218);
$green:       rgb(188, 205, 188);
$green-dark:  rgb(15, 90, 50);

// Type
$base-font-size: 20px;
$base-line-height: 30px;
$lato: 'latoregular', Helvetica, Arial, 'sans-serif';

