.container {
  padding: 50px 20px;
  position: relative;
  margin-left: 15em;
  max-width: 800px;

  img {
    max-width: 100%;
    padding-bottom: 5px;
  }

  p.date {
  }

  p.caption {
  }
}

@media only screen and (max-width : 1024px) {
  .container {
    padding: 20px 20px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
}
