.nav {
  background-color: $green-light;
  border-right: 10px $green solid;
  float: left;
  height: 100%;
  overflow: hidden;
  position: absolute;
  padding: 4em 2em 0;
  width: 14em;
}

.nav-avi {
  padding-bottom: 1em;
  text-align: center;

  img {
    border: 8px solid $green;
    border-radius: 50%;
    width: 5em;
  }
}

.nav-content {
  h3 {
    color: $green-dark;
    font-family: 'pt_sansbold', sans-serif; 
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  p {
    font-family: 'latolight', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1.5em;
    padding-bottom: 1em;
  }

  ul li { 
    border-top: 1px solid $green-dark;
    color: $green-dark;
    font-family: 'latolight';
    font-size: 0.8em;
    list-style-position: inside;
    padding: .4em 1.5em;
    text-transform: uppercase;
  }

  ul li:hover {
    background-color: $green;
  }
}

@media only screen and (max-width : $medium) {
  .nav {
    float: none;
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    border-bottom: 0.5em solid $green;
    border-right: none;
  }

  .nav-avi {
    float: left;
    padding: 1.25em 1em 0 1em;
    text-align: left;
  }
  
  .nav-content {
    float: left;
    padding: 1.25em 0 1em;

    p {
      padding-bottom: 0.5em;
    }

    ul li {
      border-top: none;
      border-left: 1px solid $green-dark;
      display: inline;
    }
  }
}

@media only screen and (max-width: $small) {
  .nav-avi {
    float: none;
    height: auto;
    text-align: center;
  }

  .nav-content {
    float: none;
    height: auto;
    padding-bottom: 0;

    h3, p {
      margin-left: 20px;
    }
 
    ul li {
      border-top: 1px solid $green-dark; 
      border-left: none;
      display: block;
    }
  }
}
