// Breakpoints
$medium: 1024px;
$small: 700px;

// Colors
$green-light: rgb(218, 226, 218);
$green:       rgb(188, 205, 188);
$green-dark:  rgb(15, 90, 50);

// Type
$base-font-size: 20px;
$base-line-height: 30px;
$lato: 'latoregular', Helvetica, Arial, 'sans-serif';

