// Media Queries

@mixin mq-medium {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mq-small {
	@media only screen and (max-width: 700px),
         only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-moz-min-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2 / 1),
         only screen and (min-device-pixel-ratio: 2),
         only screen and (min-resolution: 192dpi),
         only screen and (min-resolution: 2dppx) {
    @content;
	}
}

// Colors
$green-light: rgb(218, 226, 218);
$green:       rgb(188, 205, 188);
$green-dark:  rgb(15, 90, 50);

// Type
$base-font-size: 20px;
$base-line-height: 30px;
$lato: 'latoregular', Helvetica, Arial, 'sans-serif';

