@import "variables";

#seattle-art-museum {
  float: left;
  max-width: 30%;
  vertical-align: top;
}

.about-content {
  max-width: 69%;
  float: left;
  padding-left: 2em;
}

.container {
  max-width: none;
}

@media only screen and (max-width : $small) {
  #seattle-art-museum, .about-content {
    display: block;
    float: none;
    max-width: 100%;
    padding-left: 0;
  }
}
