extends ../templates/layout.jade

block styles
  link(rel='stylesheet' href='/stylesheets/about.css')

block content
  div(class='container')
    h1 About Me
    p.date Last edited 29 Jan 2015

    div(id='seattle-art-museum')
      img(src='/img/seattle-art-museum.jpg')
      p(class='caption') Me (left) with my sister at the Seattle Art Museum.

    div(class='about-content')
      h3 How can reach you? I promise it's not spam. Honest.
      p danieljayhartman at gmail dot com

      h3 What does DJ stand for?
      p Daniel Jay (like <a href='http://en.wikipedia.org/wiki/D%27oh-in%27_in_the_Wind'>Homer</a>).

      h3 Can I call you something else?
      p If you really want to, but most people call me DJ. Daniel is fine too.

      h3 Nice website you've got here.
      p Thanks, I made it myself.

      h3 What else do you do?
      p I'm a programmer and a designer. You can check out my <a href='/resume.pdf'>resume</a> or <a href='/portolio'>portfolio</a>.

      h3 Are you anywhere else on the internet?
      p I my personal twitter handle is <a href='https://twitter.com/djhrtmn'>@djhrtmn</a>. I RT often and am mostly on there to read. My github handle is just <a href='https://github.com/dj'>dj</a>.

