h1 Transistor is the best game ever made.

h2 What does DJ stand for?
p Daniel Jay (like Homer).

h2 Can I call you something else?
p If you really want to, but just not Dan or Danny. No offense to the Dans and Dannys of the world.

h2 This is a nice website you've got yourself here.
p Thanks, I made it myself!

h2 What else do you do?
p I'm a programmer and a designer. You can check out my <a href='/resume.pdf'>resume</a> or portfolio.

h2 How can I get in touch with you?
p danieljayhartman at gmail dot com

