extends layout.jade 

block content
  div(class='container')
    div(class='post')
      h2 HEADLINE H2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut maximus ligula. Nullam ultricies elementum sapien, at consequat augue ultrices at. Mauris feugiat eget nunc vel porttitor. Cras nec enim erat. In auctor, ipsum sed fringilla laoreet, est nisi dignissim dolor, ut maximus leo massa id odio. Etiam nec iaculis ligula, id lobortis felis. Suspendisse in neque pellentesque, sollicitudin metus at, facilisis tortor. Etiam bibendum ac felis et interdum. Phasellus elit arcu, tristique sit amet euismod sed, lacinia vitae lectus. Praesent id nibh at libero condimentum iaculis. Sed id dictum urna. 
