html
  head
    title My Site - #{title}
    block scripts
    link(href='stylesheets/style.css' rel='stylesheet')
  body
    block nav
    block content
    block footer
      #footer
        p some footer content

