html
  head
    title My Site - #{title}
    block scripts
    link(href='stylesheets/style.css' rel='stylesheet')
  body
    block nav
      div(class='nav')
        p Filipino-American in Boston. Developer and designer. Northeastern Class of 2015.
        ul
          li About Me
          li Blog
          li Porfolio
    block content

